{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block body %}
{% load static %}
<header class="theme-menu-wrapper full-width-menu" style="position: relative;">
				<div class="header-wrapper">
					<div class="clearfix">
						<!-- Logo -->
						<div class="logo float-left tran4s"><a href="index.html"><img style="margin-top: -50px;" src="{% static 'images/logo/datagrill_long.png' %}" alt="Logo"></a></div>

						<!-- ============================ Theme Menu ========================= -->
						<nav class="theme-main-menu float-right navbar" id="mega-menu-wrapper">
							<!-- Brand and toggle get grouped for better mobile display -->
						   <div class="navbar-header">
						     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
						       <span class="sr-only">Toggle navigation</span>
						       <span class="icon-bar"></span>
						       <span class="icon-bar"></span>
						       <span class="icon-bar"></span>
						     </button>
						   </div>
						   <!-- Collect the nav links, forms, and other content for toggling -->
						   <div class="collapse navbar-collapse" id="navbar-collapse-1">
								<ul class="nav">
									<li class="dropdown-holder menu-list active"><a href="{% url 'home' %}" class="tran3s">Home</a>
										<ul class="sub-menu">
											<li><a href="index.html">Home version one</a></li>
											<li><a href="index-2.html">Home version Two</a></li>
											<li><a href="index-3.html">Home version Three</a></li>
											<li><a href="index-video.html">Home video version</a></li>
										</ul>
									</li>
									<li class="dropdown-holder menu-list"><a href="#" class="tran3s">Pages</a>
										<ul class="sub-menu">
											<li><a href="blog-v1.html">Blog Grid</a></li>
											<li><a href="blog-v2.html">Blog List</a></li>
											<li><a href="blog-v4.html">Blog List Sidebar</a></li>
											<li class="dropdown-holder"><a href="blog-v3.html">Blog Full Width</a>
												<ul class="second-sub-menu">
													<li><a href="blog-details.html">Blog details</a></li>
													<li><a href="blog-details-sidebar.html">Blog details Sidebar</a></li>
												</ul>
											</li>
											<li class="dropdown-holder"><a href="shop.html">Shop Page</a>
												<ul class="second-sub-menu">
													<li><a href="shop-details.html">Shop Details</a></li>
												</ul>
											</li>
											<li><a href="about-us.html">About us</a></li>
											<li><a href="team-v1.html">Team Version one</a></li>
											<li><a href="team-v2.html">Team Version Two</a></li>
										</ul>
									</li>
									<li class="dropdown-holder menu-list"><a href="#" class="tran3s">Services</a>
										<ul class="sub-menu">
											<li><a href="service-v1.html">Service Version One</a></li>
											<li><a href="service-v2.html">Service Version Two</a></li>
											<li><a href="service-details.html">Service Details</a></li>
										</ul>
									</li>
									<li class="dropdown-holder menu-list"><a href="#" class="tran3s">Portfolio</a>
										<ul class="sub-menu">
											<li><a href="portfolio-v1.html">Portfolio version one</a></li>
											<li><a href="portfolio-v2.html">Portfolio version Two</a></li>
											<li><a href="portfolio-v3.html">Portfolio version Three</a></li>
											<li class="dropdown-holder"><a href="portfolio-v4.html">Portfolio version Four</a>
												<ul class="second-sub-menu">
													<li><a href="portfolio-details.html">Portfolio Details</a></li>
													<li><a href="portfolio-details-v2.html">Portfolio Details v2</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li class="menu-list"><a href="contact.html" class="tran3s">Contact Us</a></li>
									<li class="login-button"><a href="{% url 'login' %}" class="tran3s">login</a></li>
								</ul>
						   </div><!-- /.navbar-collapse -->
						</nav> <!-- /.theme-main-menu -->
					</div> <!-- /.clearfix -->
				</div>
			</header>
			<!-- Sign-Up Modal -->
			<div class="signUpModal theme-modal-box" role="dialog">
				<div class="modal-dialog">
				    <!-- Modal content-->
				    <div class="modal-content">
					    <div class="modal-body">
					        <h3>Login with Social Networks</h3>
					        <ul class="clearfix">
					        	<li class="float-left"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> facebook</a></li>
					        	<li class="float-left"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i> Google</a></li>
					        	<li class="float-left"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
					        	<li class="float-left"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></li>
					        </ul>
							{% include 'includes/alerts.html' %}
					        <form action="{% url 'login' %}" method='POST'>
							{% csrf_token %}
					        	<h6><span>or</span></h6>
					        	<div class="wrapper">
					        		<input type="email" placeholder="Email" name="email">
					        		<input type="password" placeholder="Password" name="password">
					        		<ul class="clearfix">
										<li class="float-left">
											<input type="checkbox" id="remember">
											<label for="remember">Remember Me</label>
										</li>
										<li class="float-right"><a href="#" class="p-color">Lost Your Password?</a></li>
									</ul>
									<button type="submit" class="p-bg-color hvr-trim-two">Login</button>
									<a href="{% url 'register' %}" style="color: #5baf3e; margin-top: 5px; justify-content: center;">Register</a>
					        	</div>
					        </form>
					    </div> <!-- /.modal-body -->
				    </div> <!-- /.modal-content -->
				</div> <!-- /.modal-dialog -->
			</div> <!-- /.signUpModal -->
{% endblock body %}